@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLES */
:root {
  /*FONTS*/
  --HEADER-FONT: "Fraunces", sans-serif;
  --BODY-FONT: "Montserrat", sans-serif;
  --BODY-FS: 14px;

  /*COLORS */
  --GREEN-500: hsl(158, 36%, 37%);
  --GREEN-700: hsl(158, 42%, 18%);
  --NEUTRAL-BLACK: hsl(212, 21%, 14%);
  --NEUTRAL-GRAY: hsl(228, 12%, 48%);
  --NEUTRAL-CREAM: hsl(30, 38%, 92%);
  --NEUTRAL-WHITE: hsl(0, 0, 100%);

  /* GENERAL STYLES*/
  --BORDER-RADIUS: 2rem;
}

body {
  background-color: var(--NEUTRAL-CREAM);
  min-height: 100vh;
}
/*
img {
  display: block;
  width: 100%;
  height: auto;
}
  */

/* Mobile Screen */
@media screen and (max-width: 768px) {
  .desktop {
    display: none;
    width: 100%;
    height: auto;
  }
}

/* Desktop Screen */
@media screen and (min-width: 769px) {
  body {
    display: grid;
    place-items: center;
  }
  .mobile {
    display: none;
    width: 100%;
    height: auto;
  }
}

.container {
  display: flex;
  justify-content: center;
  background-color: blue;
  align-items: center;
  min-height: 50em;
  gap: 1rem;
}

.product {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 1.5rem;
  justify-content: center;
  align-items: center;
  margin: 1.5rem;
  width: 100px;
  height: 100px;
}
