@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLES */
:root {
  /*FONTS*/
  --HEADER-FONT: "Fraunces", sans-serif;
  --BODY-FONT: "Montserrat", sans-serif;
  --BODY-FS: 14px;

  /*COLORS */
  --GREEN-500: hsl(158, 36%, 37%);
  --GREEN-700: hsl(158, 42%, 18%);
  --NEUTRAL-BLACK: hsl(212, 21%, 14%);
  --NEUTRAL-GRAY: hsl(228, 12%, 48%);
  --NEUTRAL-CREAM: hsl(30, 38%, 92%);
  --NEUTRAL-WHITE: hsl(0, 0, 100%);

  /* GENERAL STYLES*/
  --BORDER-RADIUS: 2rem;
}

body {
  background-color: var(--NEUTRAL-CREAM);
}
/* 
img {
  display: block;
  width: 100%;
  height: auto;
} */

/* Mobile Screen */
@media screen and (max-width: 768px) {
  .desktop {
    display: none;
    width: 100%;
    height: auto;
  }
}

/* Desktop Screen */
@media screen and (min-width: 769px) {
  body {
    min-height: 100vh;
    display: grid;
    place-items: center;
  }

  .container {
    grid-template-columns: 1fr 1fr;
    border-radius: var(--BORDER-RADIUS);
    overflow: hidden;
    margin-inline: 1rem;
  }
  .mobile {
    display: none;
    width: 100%;
    height: auto;
  }
}

.product {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em;
}

.cart-add {
  display: grid;
  align-items: start;
  gap: 1rem;
}

.container {
  max-width: 46rem;
  display: grid;
}
